<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gsid</key>
	<string>_2A256faLRDeTxGedH6FMZ9CfOwzuIHXVXKrEZrDV6PUJbrdANLWGgkWphMRpyMrfvPpPHR8XHeBxXFU4tjw..</string>
	<key>has_unread</key>
	<integer>0</integer>
	<key>hasvisible</key>
	<false/>
	<key>interval</key>
	<integer>250</integer>
	<key>max_id</key>
	<integer>3993418491025625</integer>
	<key>next_cursor</key>
	<integer>3993418491025625</integer>
	<key>previous_cursor</key>
	<integer>0</integer>
	<key>since_id</key>
	<integer>3993471754679019</integer>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>15</integer>
			<key>attitudes_status</key>
			<integer>0</integer>
			<key>biz_feature</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Jul 04 11:00:03 +0800 2016</string>
			<key>darwin_tags</key>
			<array/>
			<key>favorited</key>
			<false/>
			<key>geo</key>
			<string></string>
			<key>hot_weibo_tags</key>
			<array/>
			<key>id</key>
			<integer>3993471242671397</integer>
			<key>idstr</key>
			<string>3993471242671397</string>
			<key>isLongText</key>
			<false/>
			<key>mblog_menus</key>
			<array>
				<dict>
					<key>type</key>
					<string>mblog_menus_favorite</string>
				</dict>
				<dict>
					<key>name</key>
					<string>帮上头条</string>
					<key>params</key>
					<dict>
						<key>scheme</key>
						<string>http://promote.biz.weibo.cn/members/promoteadvance?sinainternalbrowser=topnav&amp;dai_tou=mobile_feed_01&amp;touid=1904769205&amp;mid=3993471242671397&amp;from=1051095014&amp;ua=Xiaomi-Redmi Note 3__weibo__5.1.0__android__android5.0.2&amp;gsid=_2A257tAdTDeTxGedH6FMZ9CfOwzuIHXVW4B2brDV6PUJbrdANLXnfkWpLHesGM2rHQnVOSA4opUzGRV9712-InA..&amp;v_p=17</string>
					</dict>
					<key>type</key>
					<string>link</string>
				</dict>
				<dict>
					<key>type</key>
					<string>mblog_menus_follow</string>
				</dict>
				<dict>
					<key>type</key>
					<string>mblog_menus_hide</string>
				</dict>
				<dict>
					<key>type</key>
					<string>mblog_menus_report</string>
				</dict>
				<dict>
					<key>type</key>
					<string>mblog_menus_cancel</string>
				</dict>
			</array>
			<key>mblogid</key>
			<string>DDdC4bcX3</string>
			<key>mblogtypename</key>
			<string></string>
			<key>mid</key>
			<string>3993471242671397</string>
			<key>mlevel</key>
			<integer>0</integer>
			<key>page_type</key>
			<integer>32</integer>
			<key>pic_ids</key>
			<array>
				<string>718878b5jw1f5honvai8qj20on0k0q4b</string>
			</array>
			<key>pic_infos</key>
			<dict>
				<key>718878b5jw1f5honvai8qj20on0k0q4b</key>
				<dict>
					<key>bmiddle</key>
					<dict>
						<key>cut_type</key>
						<integer>1</integer>
						<key>height</key>
						<integer>292</integer>
						<key>type</key>
						<string>JPEG</string>
						<key>url</key>
						<string>http://ww4.sinaimg.cn/wap360/718878b5jw1f5honvai8qj20on0k0q4b.jpg</string>
						<key>width</key>
						<integer>360</integer>
					</dict>
					<key>large</key>
					<dict>
						<key>cut_type</key>
						<integer>1</integer>
						<key>height</key>
						<integer>584</integer>
						<key>type</key>
						<string>JPEG</string>
						<key>url</key>
						<string>http://ww4.sinaimg.cn/wap720/718878b5jw1f5honvai8qj20on0k0q4b.jpg</string>
						<key>width</key>
						<integer>720</integer>
					</dict>
					<key>largest</key>
					<dict>
						<key>cut_type</key>
						<integer>1</integer>
						<key>height</key>
						<string>720</string>
						<key>type</key>
						<string>JPEG</string>
						<key>url</key>
						<string>http://ww4.sinaimg.cn/large/718878b5jw1f5honvai8qj20on0k0q4b.jpg</string>
						<key>width</key>
						<string>887</string>
					</dict>
					<key>object_id</key>
					<string>1042018:05c08ecf0a205c0f668ac6c11fee8551</string>
					<key>original</key>
					<dict>
						<key>cut_type</key>
						<integer>1</integer>
						<key>height</key>
						<string>720</string>
						<key>type</key>
						<string>JPEG</string>
						<key>url</key>
						<string>http://ww4.sinaimg.cn/woriginal/718878b5jw1f5honvai8qj20on0k0q4b.jpg</string>
						<key>width</key>
						<string>887</string>
					</dict>
					<key>photo_tag</key>
					<integer>0</integer>
					<key>pic_id</key>
					<string>718878b5jw1f5honvai8qj20on0k0q4b</string>
					<key>pic_status</key>
					<integer>0</integer>
					<key>thumbnail</key>
					<dict>
						<key>cut_type</key>
						<integer>1</integer>
						<key>height</key>
						<integer>146</integer>
						<key>type</key>
						<string>JPEG</string>
						<key>url</key>
						<string>http://ww4.sinaimg.cn/wap180/718878b5jw1f5honvai8qj20on0k0q4b.jpg</string>
						<key>width</key>
						<integer>180</integer>
					</dict>
					<key>type</key>
					<string>pic</string>
				</dict>
			</dict>
			<key>positive_recom_flag</key>
			<integer>0</integer>
			<key>recom_state</key>
			<integer>-1</integer>
			<key>reposts_count</key>
			<integer>7</integer>
			<key>rid</key>
			<string>1_0_1_2667332513872034392</string>
			<key>scheme</key>
			<string>sinaweibo://detail/?mblogid=DDdC4bcX3</string>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>source_allowclick</key>
			<integer>0</integer>
			<key>source_type</key>
			<integer>1</integer>
			<key>text</key>
			<string>#每日知乎 Live# 信审风控眼中什么是风险？信贷业务最重要的四件事是什么？信审风控人员的自我修养是怎样的？怎样快速的给贷款定额度？本期主讲人 wong 将于 7 月 6 日 21：00和大家聊一聊：「审批人眼中的信贷风险」。报名链接：http://t.cn/R5m6dwo</string>
			<key>textLength</key>
			<integer>232</integer>
			<key>text_tag_tips</key>
			<array/>
			<key>topic_struct</key>
			<array>
				<dict>
					<key>topic_title</key>
					<string>每日知乎 Live</string>
					<key>topic_url</key>
					<string>sinaweibo://pageinfo?containerid=1008082fe9cf0290dbd16a37cfec238ed1b1f7&amp;pageid=1008082fe9cf0290dbd16a37cfec238ed1b1f7&amp;extparam=%E6%AF%8F%E6%97%A5%E7%9F%A5%E4%B9%8E%20Live</string>
				</dict>
			</array>
			<key>url_struct</key>
			<array>
				<dict>
					<key>log</key>
					<string>su=R5m6dwo&amp;mark=&amp;mid=3993471242671397</string>
					<key>need_save_obj</key>
					<integer>1</integer>
					<key>ori_url</key>
					<string>https://www.zhihu.com/lives/732915542477774848?utm_campaign=zhihulive&amp;utm_source=weibo&amp;utm_medium=link&amp;utm_content=zhuanlan</string>
					<key>position</key>
					<integer>2</integer>
					<key>result</key>
					<true/>
					<key>short_url</key>
					<string>http://t.cn/R5m6dwo</string>
					<key>url_title</key>
					<string>网页链接</string>
					<key>url_type</key>
					<integer>0</integer>
					<key>url_type_pic</key>
					<string>http://h5.sinaimg.cn/upload/2015/09/25/3/timeline_card_small_web.png</string>
				</dict>
			</array>
			<key>user</key>
			<dict>
				<key>allow_all_act_msg</key>
				<true/>
				<key>avatar_hd</key>
				<string>http://tva2.sinaimg.cn/crop.0.0.1024.1024.1024/718878b5jw8esr2geokzkj20sg0sg0ts.jpg</string>
				<key>avatar_large</key>
				<string>http://tva2.sinaimg.cn/crop.0.0.1024.1024.180/718878b5jw8esr2geokzkj20sg0sg0ts.jpg</string>
				<key>badge</key>
				<dict>
					<key>ali_1688</key>
					<integer>0</integer>
					<key>anniversary</key>
					<integer>0</integer>
					<key>bind_taobao</key>
					<integer>1</integer>
					<key>dailv</key>
					<integer>0</integer>
					<key>daiyan</key>
					<integer>0</integer>
					<key>enterprise</key>
					<integer>0</integer>
					<key>fools_day_2016</key>
					<integer>0</integer>
					<key>gongyi</key>
					<integer>0</integer>
					<key>gongyi_level</key>
					<integer>1</integer>
					<key>hongbao_2014</key>
					<integer>0</integer>
					<key>self_media</key>
					<integer>0</integer>
					<key>suishoupai_2014</key>
					<integer>0</integer>
					<key>suishoupai_2016</key>
					<integer>0</integer>
					<key>super_star_2016</key>
					<integer>0</integer>
					<key>taobao</key>
					<integer>0</integer>
					<key>travel2013</key>
					<integer>1</integer>
					<key>uc_domain</key>
					<integer>0</integer>
					<key>uefa_euro_2016</key>
					<integer>0</integer>
					<key>unread_pool</key>
					<integer>0</integer>
					<key>unread_pool_ext</key>
					<integer>0</integer>
					<key>vip_activity1</key>
					<integer>0</integer>
					<key>vip_activity2</key>
					<integer>0</integer>
					<key>zongyiji</key>
					<integer>0</integer>
				</dict>
				<key>badge_top</key>
				<string></string>
				<key>city</key>
				<string>8</string>
				<key>cover_image</key>
				<string>http://ww2.sinaimg.cn/crop.0.0.920.300/718878b5jw1f4kk25j7itj20pk08c75p.jpg</string>
				<key>cover_image_phone</key>
				<string>http://ww1.sinaimg.cn/crop.0.0.640.640.640/549d0121tw1egm1kjly3jj20hs0hsq4f.jpg</string>
				<key>credit_score</key>
				<integer>80</integer>
				<key>description</key>
				<string>可能是最好的中文问答社区。http://www.zhihu.com/ 声明：欢迎关注知乎、知乎日报、知电影、知乎小管家和刘看山，以上是知乎在微博平台仅有的官方帐号。其他第三方注册的、带有「知乎」字眼的微博帐号，均不是知乎的官方帐号，不代表知乎的官方立场。</string>
				<key>extend</key>
				<dict>
					<key>mbprivilege</key>
					<string>0000000000000000000000000000000000000000000000000000000000400208</string>
				</dict>
				<key>follow_me</key>
				<false/>
				<key>followers_count</key>
				<integer>5200493</integer>
				<key>following</key>
				<true/>
				<key>friends_count</key>
				<integer>1415</integer>
				<key>gender</key>
				<string>m</string>
				<key>has_ability_tag</key>
				<integer>1</integer>
				<key>id</key>
				<integer>1904769205</integer>
				<key>level</key>
				<integer>2</integer>
				<key>mbrank</key>
				<integer>2</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>pagefriends_count</key>
				<integer>3</integer>
				<key>profile_image_url</key>
				<string>http://tva2.sinaimg.cn/crop.0.0.1024.1024.50/718878b5jw8esr2geokzkj20sg0sg0ts.jpg</string>
				<key>province</key>
				<string>11</string>
				<key>remark</key>
				<string></string>
				<key>screen_name</key>
				<string>知乎</string>
				<key>urank</key>
				<integer>35</integer>
				<key>url</key>
				<string>http://www.zhihu.com/</string>
				<key>user_ability</key>
				<integer>0</integer>
				<key>verified</key>
				<true/>
				<key>verified_contact_email</key>
				<string></string>
				<key>verified_contact_mobile</key>
				<string></string>
				<key>verified_contact_name</key>
				<string></string>
				<key>verified_level</key>
				<integer>3</integer>
				<key>verified_reason</key>
				<string>知乎网官方微博，新浪微博社区委员会专家成员。</string>
				<key>verified_reason_modified</key>
				<string></string>
				<key>verified_reason_url</key>
				<string></string>
				<key>verified_source</key>
				<string></string>
				<key>verified_source_url</key>
				<string></string>
				<key>verified_state</key>
				<integer>0</integer>
				<key>verified_trade</key>
				<string></string>
				<key>verified_type</key>
				<integer>2</integer>
				<key>verified_type_ext</key>
				<integer>0</integer>
			</dict>
			<key>userType</key>
			<integer>0</integer>
			<key>visible</key>
			<dict>
				<key>list_id</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>1511</integer>
	<key>uve_blank</key>
	<integer>275</integer>
	<key>xxxx</key>
	<string></string>
</dict>
</plist>
